<section class="er404_m">
  <div class="er404_div_m">
    <div class="er404_h1_m">
      <h1>ERROR 404</h1>
      <img src="/{{ directory }}/images/line404.png" alt="">
      <p>La página que buscas no existe.</p>
    </div>

    <div><a href="/">VOLVER AL INICIO</a></div>
  </div>
</section>
