/** VARIABLES **/


// GLOBAL ASSETS
$assetsUrl: 'https://eccorona.s3.us-east-2.amazonaws.com';


// MEDIAQUERIES
$mediaqueries: (
	hover: 			"(hover: hover)",
	ie: 			"screen and (-ms-high-contrast: active), (-ms-high-contrast: none)",
	safari: 		"screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)",
	safari2: 		"not all and (min-resolution:.001dpcm)",
	landscape:		"(orientation: landscape)",
	portrait:		"(orientation: portrait)",
	mobS3: 			360,
	mobS2: 			480,
	mobS: 			640,
	mob: 			767,
	tabS: 			820,
	tab: 			991,
	lapS3: 			1024,
	lapS2: 			1199,
	lapS: 			1280,
	lap: 			1367,
	deskS: 			1440,
	desk: 			1560,
	deskB: 			1680
);


// GENERAL CONFIG
$widthLimit: 			1550px;
$paddingGeneral: 		25px;
$paddingGeneralMob: 	20px;


// COLORS
$black: 			#000;
$blackL: 			#292929;
$blueD: 			#0D2240;
$grayL: 			#dfdfdf;
$white: 			#FFF;


// Colores de marca
$yellow: 			#FFCA33;
$yellow2: 			#FFA901;
$red2: 				#F5333F;
$pink:				#FF8797;
$pink2: 			#BE2944;
$toronja: 			#C63964;
$green: 			#D3D12E;
$green2: 			#004200;
$orange2: 			#EE860C;

// V1
// $yellow: 			#FFCA33;
// $yellow2: 			#FFA901;
// $red2: 				#FB7B76;
// $pink: 				#C2778E;
// $green: 			#DFDD3C;
// $orange2: 			#EB8750;


$blueM: 			#33A2F0;
$blueL: 			#A3D4F8;

$red: 				#DD2C34;

$success: 			#219c3e;
$warning:			#d66519;
$error: 			$red;
$information: 		#2476ce;


// GLOBAL FONTS
$ftRegular:			arial, sans-serif;
$coronaHeadlineSB:	'coronaHeadlineSB', $ftRegular;
$helveticaBl:	'helveticaBl', $ftRegular;
$myriadRegular: 'MyriadProRegular';

$fontFamily: 		$ftRegular;
$baseFont: 			16;

// Modal
$bgModal: $black;
$maxWModal: 900px;
$minHModal: 90%;